.main {
    text-align: center;
}

.hr {
    margin: 26px 0 16px 0;

    border-color: lightgray;
    border-style: solid;
    border-top-width: 0;

    outline: none;
}

.invalidText {
    color: #f50a0a;
    margin: 0;
}

.input {
    margin: 6px 20px;
    padding: 16px;

    border-radius: 10em;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;

    outline: none;

    width: 300px;
}

.invalid {
    border-color: #f50a0a;
}

.link {
    text-decoration: none;
    font-weight: bold;
    color: #884CB2;
}

.alert {
    position: fixed !important;
    bottom: 10px;
    right: 10px;
    min-width: 300px;
}